<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Biking Pro</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="stylesheet" href="assets/css/normalize.css"> -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-nr-min.css">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

	<h1> Bike Tracker</h1>

	<div id="mainContent"></div>

	<script type="text/template" id="bike-layout">
		<div id="newBikeData">
			<form id="addBikeInfo" action="" class="pure-form pure-form-aligned">
				<div class="pure-control-group">
					<label for="tDate"> Date: </label>
					<input type="date" placeholder="Date" id="date" name="tDate" />
				</div>

				<div class="pure-control-group">		
					<label for="tDistance"> Distance: </label>
					<input type="text" placeholder="12.23" id="distance" name="tDistance" />
				</div>

				<div class="pure-control-group">
					<label for="tTime"> Time: </label>
					<input type="text" placeholder="20:53" id="time" name="tTime" />
				</div>

				<div class="pure-control-group">
					<label for="tAvgSpeed"> Average Speed: </label>
					<input type="text" placeholder="12.15" id="avgSpeed" name="tAvgSpeed" />
				</div>

				<div class="pure-control-group">
					<label for="tMaxSpeed"> Max Speed: </label>
					<input type="text" placeholder="24.23" id="maxSpeed" name="tMaxSpeed" />
				</div>

				<div class="pure-control-group">
					<label for="tAvgCadence"> Average Cadence </label>
					<input type="text" placeholder="51" id="avgCadence" name="tAvgCadence" />
				</div>

				<div class="pure-control-group">
					<label for="tLocation"> Location: </label>
					<input type="text" placeholder="Custis" id="location" name="tLocation" />
				</div>

				<div class="pure-controls">
					<button class="pure-button pure-button-secondary" id="addData"> Add Data </button>
				</div>
			</form>
		</div>

		<div id="graph">I will be a graph.</div>
		<div id="infoContainer"></div>
	</script>

	<script type="text/template" id="single-line-wrap-template">
		<h2> Rides List: </h2>
		<div id="ridesListWrap"></div>
	</script>

	<script type="text/template" id="single-line-template">
		<li> Date: <a class="specific-ride" href="#" data-id="<%= id %>"> <%= date %> </a> </li>
	</script>

	<script type="text/template" id="rides-template">
		<div class="ride-info"></div>
	</script>

	<script type="text/template" id="ride-template">
		<dl>
			<dt> Date:</dt>
			<dd> <%= date %> </dd>
			<dt> Location:</dt>
			<dd> <%= location %> </dd>
			<dt> Distance: </dt>
			<dd> <%= distance %> </dd>
			<dt> Time </dt>
			<dd> <%= time %> </dd>
			<dt> Average Speed: </dt>
			<dd> <%= avgSpeed %> </dd>
			<dt> Max Speed: </dt>
			<dd> <%= maxSpeed %> </dd>
			<dt> Average Cadence </dt>
			<dd> <%= avgCadence %> </dd>
		</dl>
	</script>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="assets/js/vendor/underscore.js"></script>
    <script src="assets/js/vendor/backbone-min.js"></script>
    <script src="assets/js/vendor/backbone.localStorage-min.js"></script>
    <script src="assets/js/vendor/backbone.marionette.js"></script>
    <script src="assets/js/app.js"></script>

    <script>
	    $(document).ready(function() {
	    	//start the app!
			BikeDataManager.start();
		});
    </script>

</body>
</html>