body { 
	color: #777; 
	margin: 0 auto;
	width: 1000px;
}

h1 {
	text-align: center
}

.ride-info {
	border: 1px solid lightgrey;
	border-radius: 4px;
	padding: 10px 20px;
	overflow: auto;
	dl {
		overflow: auto;
	}
	dt, dd {
		float: left;
		width: 25%;
	}
	dt:nth-child(odd) {
		clear: left;
		margin-bottom: 10px;
	}
}