/* line 1, ../sass/main.scss */
body {
  color: #777;
  margin: 0 auto;
  width: 1000px;
}

/* line 7, ../sass/main.scss */
h1 {
  text-align: center;
}

/* line 11, ../sass/main.scss */
.ride-info {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px 20px;
  overflow: auto;
}
/* line 16, ../sass/main.scss */
.ride-info dl {
  overflow: auto;
}
/* line 19, ../sass/main.scss */
.ride-info dt, .ride-info dd {
  float: left;
  width: 25%;
}
/* line 23, ../sass/main.scss */
.ride-info dt:nth-child(odd) {
  clear: left;
  margin-bottom: 10px;
}

/* line 29, ../sass/main.scss */
.pure-form {
  margin-bottom: 20px;
}
/* line 30, ../sass/main.scss */
.pure-form input[type=date] {
  color: #777;
  width: 18.2%;
}

/* line 38, ../sass/main.scss */
.pure-button-secondary {
  background: #42b8dd;
  /* this is a light blue */
  border-radius: 4px;
  color: white;
  font-size: 85%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
